---
import type { SvgComponent } from "astro/types"

interface Props {
  icon: SvgComponent & ImageMetadata
  text: string
  href: string
}

const { icon: Icon, text, href } = Astro.props
---

<a href={href} class="hidden md:flex md:flex-row md:gap-1 md:items-center">
  <Icon class="md:size-4 fill-blue-900" />
  <span class="md:text-tiny text-blue-900">{text}</span>
</a>
