---
import Layout from "../layouts/Layout.astro"
---

<Layout
  title="Sakura Preschool - Curriculum"
  description="Curriculum page for Sakura Preschool in Kokrajhar - Find all curriculum related details here"
  currentTab="curriculum"
>
  <div></div>
</Layout>
