---
import Layout from "../layouts/Layout.astro"
import Cover from "../assets/cover.png"
import HeroPrimaryButton from "../components/HeroPrimaryButton.astro"
import HeroSecondaryButton from "../components/HeroSecondaryButton.astro"
import { getLangFromUrl, useTranslations } from "../i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title="Sakura Preschool - Home" description="" currentTab="home">
  <div
    id="hero"
    class="bg-cover h-screen bg-center flex items-center justify-center"
    style={`background-image: url(${Cover.src})`}
  >
    <div
      id="hero-content"
      class="flex flex-col gap-4 md:gap-6 lg:gap-8 p-4 md:p-5 lg:p-6 items-center"
    >
      <h1
        class="text-4xl md:text-5xl lg:text-6xl font-bold text-white text-center"
      >
        {t("Hero.Title")}
      </h1>
      <p class="mt-4 text-lg md:text-xl lg:text-2xl text-white text-center">
        {t("Hero.Subtitle")}
      </p>
      <div class="flex flex-row gap-4 md:gap-5 lg:gap-6">
        <HeroSecondaryButton />
        <HeroPrimaryButton />
      </div>
    </div>
  </div>
  <div id="about" class="h-screen"></div>
  <div id="why" class="h-screen"></div>
</Layout>
