---
import Layout from "../../layouts/Layout.astro"
import Cover from "../../assets/cover.png"
---

<Layout title="Sakura Preschool - Home" description="" currentTab="home">
  <div
    class="bg-cover h-screen bg-center"
    style={`background-image: url(${Cover.src})`}
  >
  </div>
  <div class="h-screen"></div>
  <div class="h-screen"></div>
</Layout>
