---
import type { LinkListItemType } from "../utils/commonTypes"
interface Props {
  title: string
  items: LinkListItemType[]
  newTab?: boolean
}
const { title, items, newTab } = Astro.props
---

<div class="flex flex-col gap-1 md:gap-1.5 lg:gap-2">
  <span class="text-base
  md:text-base
  lg:text-lg
  font-bold
  text-white">
    {title}
  </span>
  {
    items.map((i) => {
      return (
        <a
          href={i.href}
          target={newTab ? "_blank" : "_self"}
          class="text-sm md:text-sm lg:text-base text-white hover:text-pink-50 hover:cursor-pointer hover:underline"
        >
          {i.text}
        </a>
      )
    })
  }
</div>
