---
import { ArrowRight } from "@lucide/astro"
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils"
import { AdmissionFormLink } from "../utils/commonConstants"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)
---

<a
  href={translatePath(AdmissionFormLink)}
  class="flex flex-row text-nowrap items-center justify-center bg-pink-400 hover:bg-pink-600 hover:cursor-pointer text-white gap-1 md:gap-1.5 lg:gap-2 rounded-full py-2 md:py-2 lg:py-2.5 px-4 md:px-5 lg:px-6"
>
  <span class="font-bold text-sm md:text-base lg:text-lg">
    {t("Home.Hero.Primary")}
  </span>
  <ArrowRight class="size-5 lg:size-6" />
</a>
