---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)
---

<a
  href={translatePath("#about")}
  class="flex flex-row text-nowrap items-center justify-center border-2 border-pink-300 bg-white hover:bg-pink-50 hover:cursor-pointer rounded-full py-2 md:py-2 lg:py-2.5 px-4 md:px-5 lg:px-6"
>
  <span class="text-pink-300 font-semibold text-sm md:text-base lg:text-lg">
    {t("Hero.Secondary")}
  </span>
</a>
