---
import type { AstroComponent } from "@lucide/astro"

interface Props {
  title: string
  desc: string
  icon: AstroComponent
}
const { title, desc, icon: Icon } = Astro.props
---

<div class="flex flex-col items-center gap-1 md:gap-1.5 lg:gap-2">
  <Icon class="size-10 md:size-11 lg:size-12 text-white" />
  <h4 class="font-bold text-white text-lg md:text-xl">
    {title}
  </h4>
  <p class="text-white text-xs md:text-sm">{desc}</p>
</div>
