---

---

<div
  id="Footer_SiteInfoBar"
  class="hidden md:flex md:justify-center w-full md:items-center md:py-2 lg:py-2.5 md:px-8 lg:px-12 bg-blue-200"
>
  <div
    id="SiteInfoContent"
    class="flex flex-row md:flex-row md:gap-2.5 lg:gap-3 items-center justify-between w-full lg:max-w-7xl md:text-tiny lg:text-xs text-blue-900"
  >
    <span>Copyright @ 2026 <b>Sakura Preschool</b></span>
    <span>Designed & Developed by <b>NafuApps</b></span>
  </div>
</div>
