---
import { LucideChevronDown } from "@lucide/astro"

interface Props {
  question: string
  answer: string
}
const { question, answer } = Astro.props
---

<details
  class="group bg-cyan-50 rounded-2xl p-4 md:p-6 shadow-2xs w-full md:max-w-2xl"
>
  <summary
    class="flex justify-between items-center gap-1 md:gap-1.5 text-sm md:text-base cursor-pointer list-none text-cyan-700"
  >
    {question}
    <LucideChevronDown
      class="transition-transform duration-300 group-open:rotate-180"
    />
  </summary>
  <div class="mt-3 md:mt-4">
    <p class="text-xs md:text-sm text-slate-600">{answer}</p>
  </div>
</details>
