---
import CurriculumContentWrapper from "../CurriculumContentWrapper.astro"
import CurriculumSectionDescription from "../CurriculumSectionDescription.astro"
import CurriculumSectionTitle from "../CurriculumSectionTitle.astro"
import CurriculumSectionWrapper from "../CurriculumSectionWrapper.astro"
import { useTranslations, getLangFromUrl } from "@i18n/utils"
import MilestoneGroup from "./MilestoneGroup.astro"
import MilestoneQuarter from "./MilestoneQuarter.astro"
import { Leaf, Sprout, Shrub } from "@lucide/astro"
import MilestoneSkillItem from "./MilestoneSkillItem.astro"
const t = useTranslations(getLangFromUrl(Astro.url))
---

<CurriculumSectionWrapper id="Milestones" bgVariant="bg-pink-50">
  <CurriculumContentWrapper slot="curriculum-content">
    <CurriculumSectionTitle title={t("Curriculum.Milestones.Title")} />
    <CurriculumSectionDescription
      description={t("Curriculum.Milestones.Description")}
    />
    <div class="flex flex-col gap-4 md:gap-6 w-full">
      <MilestoneGroup
        id="explorers"
        icon={Leaf}
        title={t("Curriculum.Milestones.Playgroup.Title")}
        subtitle={t("Curriculum.Milestones.Playgroup.Subtitle")}
        desc={t("Curriculum.Milestones.Playgroup.Description")}
        bgColor="bg-cyan-200"
        textColor="text-cyan-800"
        open
      >
        <MilestoneQuarter
          index={1}
          bgColor="bg-cyan-200"
          textColor="text-cyan-800"
          title={t("Curriculum.Milestones.Quarter1.Title")}
          subtitle={t("Curriculum.Milestones.Playgroup.Quarter1.Subtitle")}
        >
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Playgroup.Quarter1.Item1")}
            skill="social"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Playgroup.Quarter1.Item2")}
            skill="language"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Playgroup.Quarter1.Item3")}
            skill="physical"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Playgroup.Quarter1.Item4")}
            skill="cognitive"
          />
        </MilestoneQuarter>
        <MilestoneQuarter
          index={2}
          bgColor="bg-cyan-200"
          textColor="text-cyan-800"
          title={t("Curriculum.Milestones.Quarter2.Title")}
          subtitle={t("Curriculum.Milestones.Playgroup.Quarter2.Subtitle")}
        >
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Playgroup.Quarter2.Item1")}
            skill="creative"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Playgroup.Quarter2.Item2")}
            skill="cognitive"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Playgroup.Quarter2.Item3")}
            skill="nature"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Playgroup.Quarter2.Item4")}
            skill="physical"
          />
        </MilestoneQuarter>
        <MilestoneQuarter
          index={3}
          bgColor="bg-cyan-200"
          textColor="text-cyan-800"
          title={t("Curriculum.Milestones.Quarter3.Title")}
          subtitle={t("Curriculum.Milestones.Playgroup.Quarter3.Subtitle")}
        >
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Playgroup.Quarter3.Item1")}
            skill="creative"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Playgroup.Quarter3.Item2")}
            skill="language"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Playgroup.Quarter3.Item3")}
            skill="social"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Playgroup.Quarter3.Item4")}
            skill="physical"
          />
        </MilestoneQuarter>
        <MilestoneQuarter
          index={4}
          bgColor="bg-cyan-200"
          textColor="text-cyan-800"
          title={t("Curriculum.Milestones.Quarter4.Title")}
          subtitle={t("Curriculum.Milestones.Playgroup.Quarter4.Subtitle")}
        >
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Playgroup.Quarter4.Item1")}
            skill="practical"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Playgroup.Quarter4.Item2")}
            skill="cognitive"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Playgroup.Quarter4.Item3")}
            skill="social"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Playgroup.Quarter4.Item4")}
            skill="physical"
          />
        </MilestoneQuarter>
      </MilestoneGroup>
      <MilestoneGroup
        id="discoverers"
        icon={Sprout}
        title={t("Curriculum.Milestones.Nursery.Title")}
        subtitle={t("Curriculum.Milestones.Nursery.Subtitle")}
        desc={t("Curriculum.Milestones.Nursery.Description")}
        bgColor="bg-lime-200"
        textColor="text-lime-800"
      >
        <MilestoneQuarter
          index={1}
          bgColor="bg-lime-200"
          textColor="text-lime-800"
          title={t("Curriculum.Milestones.Quarter1.Title")}
          subtitle={t("Curriculum.Milestones.Nursery.Quarter1.Subtitle")}
        >
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Nursery.Quarter1.Item1")}
            skill="practical"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Nursery.Quarter1.Item2")}
            skill="physical"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Nursery.Quarter1.Item3")}
            skill="creative"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Nursery.Quarter1.Item4")}
            skill="cognitive"
          />
        </MilestoneQuarter>
        <MilestoneQuarter
          index={2}
          bgColor="bg-lime-200"
          textColor="text-lime-800"
          title={t("Curriculum.Milestones.Quarter2.Title")}
          subtitle={t("Curriculum.Milestones.Nursery.Quarter2.Subtitle")}
        >
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Nursery.Quarter2.Item1")}
            skill="creative"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Nursery.Quarter2.Item2")}
            skill="language"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Nursery.Quarter2.Item3")}
            skill="nature"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Nursery.Quarter2.Item4")}
            skill="language"
          />
        </MilestoneQuarter>
        <MilestoneQuarter
          index={3}
          bgColor="bg-lime-200"
          textColor="text-lime-800"
          title={t("Curriculum.Milestones.Quarter3.Title")}
          subtitle={t("Curriculum.Milestones.Nursery.Quarter3.Subtitle")}
        >
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Nursery.Quarter3.Item1")}
            skill="cognitive"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Nursery.Quarter3.Item2")}
            skill="physical"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Nursery.Quarter3.Item3")}
            skill="creative"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Nursery.Quarter3.Item4")}
            skill="social"
          />
        </MilestoneQuarter>
        <MilestoneQuarter
          index={4}
          bgColor="bg-lime-200"
          textColor="text-lime-800"
          title={t("Curriculum.Milestones.Quarter4.Title")}
          subtitle={t("Curriculum.Milestones.Nursery.Quarter4.Subtitle")}
        >
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Nursery.Quarter4.Item1")}
            skill="cognitive"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Nursery.Quarter4.Item2")}
            skill="social"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Nursery.Quarter4.Item3")}
            skill="practical"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Nursery.Quarter4.Item4")}
            skill="creative"
          />
        </MilestoneQuarter>
      </MilestoneGroup>
      <MilestoneGroup
        id="creators"
        icon={Shrub}
        title={t("Curriculum.Milestones.Kindergarten.Title")}
        subtitle={t("Curriculum.Milestones.Kindergarten.Subtitle")}
        desc={t("Curriculum.Milestones.Kindergarten.Description")}
        bgColor="bg-yellow-200"
        textColor="text-yellow-800"
      >
        <MilestoneQuarter
          index={1}
          bgColor="bg-yellow-200"
          textColor="text-yellow-800"
          title={t("Curriculum.Milestones.Quarter1.Title")}
          subtitle={t("Curriculum.Milestones.Kindergarten.Quarter1.Subtitle")}
        >
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Kindergarten.Quarter1.Item1")}
            skill="language"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Kindergarten.Quarter1.Item2")}
            skill="physical"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Kindergarten.Quarter1.Item3")}
            skill="social"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Kindergarten.Quarter1.Item4")}
            skill="cognitive"
          />
        </MilestoneQuarter>
        <MilestoneQuarter
          index={2}
          bgColor="bg-yellow-200"
          textColor="text-yellow-800"
          title={t("Curriculum.Milestones.Quarter2.Title")}
          subtitle={t("Curriculum.Milestones.Kindergarten.Quarter2.Subtitle")}
        >
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Kindergarten.Quarter2.Item1")}
            skill="physical"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Kindergarten.Quarter2.Item2")}
            skill="nature"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Kindergarten.Quarter2.Item3")}
            skill="cognitive"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Kindergarten.Quarter2.Item4")}
            skill="social"
          />
        </MilestoneQuarter>
        <MilestoneQuarter
          index={3}
          bgColor="bg-yellow-200"
          textColor="text-yellow-800"
          title={t("Curriculum.Milestones.Quarter3.Title")}
          subtitle={t("Curriculum.Milestones.Kindergarten.Quarter3.Subtitle")}
        >
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Kindergarten.Quarter3.Item1")}
            skill="language"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Kindergarten.Quarter3.Item2")}
            skill="physical"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Kindergarten.Quarter3.Item3")}
            skill="creative"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Kindergarten.Quarter3.Item4")}
            skill="practical"
          />
        </MilestoneQuarter>
        <MilestoneQuarter
          index={4}
          bgColor="bg-yellow-200"
          textColor="text-yellow-800"
          title={t("Curriculum.Milestones.Quarter4.Title")}
          subtitle={t("Curriculum.Milestones.Kindergarten.Quarter4.Subtitle")}
        >
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Kindergarten.Quarter4.Item1")}
            skill="cognitive"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Kindergarten.Quarter4.Item2")}
            skill="practical"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Kindergarten.Quarter4.Item3")}
            skill="creative"
          />
          <MilestoneSkillItem
            title={t("Curriculum.Milestones.Kindergarten.Quarter4.Item4")}
            skill="language"
          />
        </MilestoneQuarter>
      </MilestoneGroup>
    </div>
  </CurriculumContentWrapper>
</CurriculumSectionWrapper>
